# /etc/systemd/system/cronosd.service
[Unit]
Description=cronosd
ConditionPathExists=/usr/local/bin/cronosd
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
#ExecStart=/usr/local/bin/cronosd start --home /root/.cronos
ExecStart=/usr/local/bin/cronosd start
Restart=on-failure
RestartSec=10
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
